/.DS_Store
/.vscode
/RPS
/RPS.c
/adventOfCode1
/adventOfCode1.c
/avgDevLab
/brainfuck
/helloWorld
/helloWorld.c
/helloWorld.dSYM
/input.txt
/main
/main.c
/main3.c
/mod1
/mod1.c
/project1
/project1.c
/stackTest
/stackTest.c
/sudoku
/sudoku.c
/tempCodeRunnerFile.c
/testing
/testing.c
/tictactoe
/tictactoe.c